root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 120
insert_final_newline = true
trim_trailing_whitespace = true

[*.java]
ij_java_class_count_to_use_import_on_demand = 999
ij_java_names_count_to_use_import_on_demand = 999
ij_java_packages_to_use_import_on_demand = ""

[{*.yml,*.yaml,*.json,*.toml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{bat,cmd}]
end_of_line = crlf

[gradle/wrapper/gradle-wrapper.properties]
insert_final_newline = unset
